/* NoticeMain 컴포넌트의 전체 컨테이너 */
.noticeMainContainer {
  padding: 20px;
  background-color: #f7f7f7;
  min-height: 100vh;
}

/* 로그아웃 버튼 스타일 */
.noticeMainLogoutButton {
  margin-top: 10px;
  background-color: #ff4b5c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; 
}


.noticeMainLogoutButton:hover {
  background-color: #e84142; 
}

/* 게시글 작성 버튼 스타일 */
.noticeMainWriteButton {
  margin-top: 10px;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s; 
}


.noticeMainWriteButton:hover {
  background-color: #43a047; 
}

/* 마이페이지 링크 버튼 스타일 */
.noticeMainMyPageLink {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.noticeMainMyPageLink:hover {
  background-color: #2980b9; 
}

/* 게시판 네비게이션 컨테이너 */
.noticeMainBoardNavigation {
  display: flex;
  justify-content: flex-end; 
  margin: 20px 0;
}

/* 게시판 버튼 스타일 */
.noticeMainBoardButton {
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; 
}


.noticeMainBoardButton:hover {
  background-color: #ccc; 
}

/* 활성화된 게시판 버튼 스타일 */
.noticeMainActiveBoardButton {
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; 
}


.noticeMainActiveBoardButton:hover {
  background-color: #43a047; 
}

/* 로그인 버튼 스타일 */
.noticeMainLoginButton {
  margin-top: 10px;
  background-color: #58aee7; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  margin-left: 10px; 
  transition: background-color 0.3s; 
}


.noticeMainLoginButton:hover {
  background-color: #2980b9; 
}
/* 마이페이지 회원 탈퇴 버튼 */
.delete-button {
  position: absolute; 
  top: 20px; 
  right: 20px; 
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #db7a83;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.delete-button:hover {
  background-color: #ff1e38; 
}
/* 게시글 목록  */
.post-item {
  cursor: pointer;
  display: grid;
  grid-template-columns: 50px 1fr 200px 150px 80px 80px 80px;
  gap: 10px;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.post-item:hover {
  background-color: #cccccc; 
  color: #333; 
}
/* 마이페이지 게시글/댓글 목록  */
.list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.list-item:hover {
  background-color: #f0f0f0; 
  color: #333; 
}

.list-item:hover {
  background-color: #f0f0f0; 
  color: #333; 
}


/*게시판 카테고리 css 추가 */

.post-category {
  display: inline-block;
  padding: 3px 8px;
  border-radius: 5px;
  background-color: #888888; 
  color: white; 
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

/* 페이지네이션 및 검색바 레이아웃 */
.pagination-container {
  display: flex;
  justify-content: space-between; /* 좌우 정렬 */
  align-items: center; /* 세로 정렬 */
  margin-top: 20px;
}

.pagination {
  display: flex;
  gap: 5px;
}

.page-button {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
  font-size: 12px;
}

.page-button.active {
  background-color: #007bff;
  color: white;
}

.page-button.arrow {
  padding: 5px 8px;
}

.search-container-custom {
  display: flex;
  gap: 8px;
  background-color: #f9f9f9;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-select-custom {
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 12px;
}

.search-input-custom {
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 12px;
  flex: 1; /* 크기를 검색창에 맞게 */
}

.search-button-custom {
  padding: 4px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}

.search-button-custom:hover {
  background-color: #0056b3;
}