/* 일반 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
}

/* 테이블 스타일 */
.table-container {
  overflow-x: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.item-image {
  max-width: 100px;
}

/* 섹션 제목 */
h2 {
  margin-bottom: 15px;
  font-size: 24px;
}

/* App 전체 레이아웃 */
.App {
  text-align: center;
  margin: 0;
  padding-top: 0; /* 비디오 부분이 사라졌으므로 패딩 제거 */
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

